@model List<CategoryListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <a class="btn btn-info col-md-12 font-weight-bold" asp-action="Create">New Category</a>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr class="table-info">
                    <th>Category Name</th>
                    <th>Panel</th>
                </tr>
            </thead>

            <tfoot class="table-info">
                <tr>

                    <th>Category Name</th>
                    <th>Panel</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit">&nbsp;</i>Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash">&nbsp;</i>Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section JavaScript{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatables.js"></script>
}

